
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.box{
    height: 186px;
    position: relative;
}
.bg{
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    filter: blur(2px)
    
}

.header11{
    height: 186px;
    position: absolute;
}
.box .bg:after {
    content: " ";
    background-color: rgba(0,0,0,.25);
}
.box .bg, .box .bg:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* z-index: 1; */
}
.box1{
    padding: 30px 15px;
    display: flex;
}

.left1{
  width: 126px;
  height: 126px;
  position: relative;
}
.img1{
    height: 126px;
    width: 126px;
    position: absolute;
}
.playCount{
    width: 126px;
    height: 20px;
    position: absolute;
    text-align: right;
    color: white;
    font-size: 12px;
    line-height: 20px;
}
.ear{
  width: 15px;
  height: 15px;
  padding-right: 5px;
  vertical-align: middle;
}
.list{
  padding: 0 10px;
    background: #D24D50;
    height: 20px;
    position: absolute;
    color: white;
    line-height: 20px;
}


.right{
    padding-left: 10px;
}
.rightname{
    color: white;
}

.Main_title2 h2{
    margin-top: 0;
  }
  .Main_title2 .song ul{
    padding: 0;
  }
  .Main_title2 .song ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 4px;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
  }
  .Main_title2 .song ul li .song_title{
    padding-left: 10px;
 
  }
  .Main_title2 .song ul li .song_title h3{
    font-size: 16px;
    border: 0;
    margin: 0;
    font-weight: 400;
  }
  .Main_title2 .song ul li .song_title .author{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin: 10px 0 8px 0;
  }
  .Main_title2 .song ul li .song_title .author img{
    width: 18px;
    height: 16px;
  }
  .Main_title2 .song ul li .song_title .author span{
    color: rgb(109, 104, 104);
    padding-left: 4px;
  }
  .Main_title2 .song ul li img.player11{
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  
  .gequ{
      padding-left: 10px;
      font: 14px/20px "";
      font-weight: 900;
      background: #eee;
      color: #333;
  }
  .creatorimg{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: block;
  }
  .creatorbox{
      display: flex;
      margin-top: 20px;
  }
  .b{
      color: #eee;
      font: 16px/30px "";
      margin-left: 10px;
  }
  .label1s{
      display: inline;
      border: 1px solid #ccc;
      /* color: #ccc; */
      margin: 0 5px;
      border-radius: 9999px;
      /* font: 8px/14px ""; */
      padding:0 10px;
  }
  
  .intro11{
      padding: 10px;
      color: #555;
      font: 14px/20px "";
      padding-bottom: 0;
      /* height: 130px; */
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
  }
  .intro111{
      padding: 10px;
      color: #555;
      font: 14px/20px "";
      padding-bottom: 0;
      height: 100%;
  }
  .rightname{
    margin-top: 5px;
    font-weight: 100;
  }
  .label1{
    margin-bottom: 10px;
  }
  .des{
    font-style: normal;
  }
  .down{
    display: block;
    width: 100%;
    height: 20px;
    text-align: right;
  }
  .downimg{
    height: 20px;
  }
  .jianjie{
    overflow: hidden;
  }