*{margin:0;padding:0;}
.player1 {
  text-align: center;height:100%;
  background:#413826;
  color:#fff;
  overflow: hidden;
  box-sizing:border-box;
  position:absolute;
  width:100%;
}
.player1:after {
  content: " ";
  background-color: rgba(0,0,0,.25);
}

li{list-style:none;}
.player1 header{overflow:hidden;padding:10px;box-sizing:border-box;height:84px;width:100%;position: fixed;}
.player1 header .header-left{display:flex;justify-content: space-between;}
.player1 header .header-left .name-left div{display:flex;flex-direction: column;align-items: flex-start;}
.player1 header .header-left a:nth-child(1){float:left;margin-top:20px;width:50px;}
.player1 header .header-left div p{font:18px/32px "";width:200px;}
.player1 header .header-left div p:nth-child(2){color:#868478}
.player1 header .header-left .share{float:right;margin-top:20px;}
.player1 #main{width:80vm;height:80vh;margin:60px 0;}
.player1 #main #disc{display:flex;flex-direction: column;justify-content: center;align-items: center;width:80vm;height:80vh;flex:1;}
.player1 #main .disc{background:#000;width:300px;height:300px;box-shadow:0 0 14px #868478;border-radius:50%;display:flex;justify-content:center; align-items: center;margin-bottom:80px;}
.player1 #main .disc div{width:220px;height:220px;border-radius:50%;}
.player1 #main ul {height:320px;flex:1;overflow:auto;margin-top:40%;}
.player1 #main ul li{font:14px/40px "";}
.player1 #main .main-bottom{width:80%;display:flex;justify-content: space-between;}
.player1 footer{width:100%;overflow:hidden;display:flex;flex-direction: column;position:fixed;bottom:0;}
.player1 footer div.playBtn{display:flex;justify-content: center;align-items:center;margin:30px 0;}
.player1 footer div.am-slider-example{display:flex;justify-content: center;align-items:center;margin:30px 0;}
.player1 footer div.am-slider-example Slider{width:600}
.player1 footer span{display:block;width:80%;}

.rotateImages{ -webkit-animation:myRotate 10s linear infinite;animation:myRotate 18s linear infinite;}
@-webkit-keyframes myRotate{
  0%{ -webkit-transform: rotate(0deg);}
  50%{ -webkit-transform: rotate(180deg);}
  100%{ -webkit-transform: rotate(360deg);}
}
@keyframes myRotate{
  0%{ -webkit-transform: rotate(0deg);}
  50%{ -webkit-transform: rotate(180deg);}
  100%{ -webkit-transform: rotate(360deg);}
}
.Jindu{display:flex;align-items:center;}

/* 背景虚化 */
.bg1 {
  height:100vh;
  text-align: center;
}
.bg-blur1 {
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(22px);
  -moz-filter: blur(22px);
  -o-filter: blur(22px);
  -ms-filter: blur(22px);
  filter: blur(22px);
}

.bg1, .box .bg1:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}